@import './variables.scss';
@import './common.scss';
@import './transitions.scss';
@import './modal.scss';

html * {
  box-sizing: border-box;
}
body {
  margin: 0;
  height: 100%;
  color: $main-text-color;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@import './scrollbar.scss';
