//colors

$main-color: rgb(232,232,232);
$secondary-color: rgb(226, 228, 230);
$header-color: rgb(28,39,40);
$active-color: rgb(20, 220, 255);
$border-color: rgb(140,140,140);

//
$border-radius: 5px;
