//colors

$main-color: rgb(249, 249, 249);
$secondary-color: rgb(226, 228, 230);
$header-color: rgba(50, 50, 50, 1);
$active-color: rgb(20, 220, 255);
$border-color: #e4e4e4;
$scroll-color: #8c8c8c;

$main-text-color: rgba(50, 50, 50, 1);

//
$border-radius: 5px;
